include ../../components/example-card/example-card

-
  const fs = require('fs');
  const cardsData = fs.readFileSync("app/data/cards.json");

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // inject:css
    // endinject
    title My layout examples
  body.page
    header.page__header
      h1.page__main-title Hello, my name is&nbsp;
        a.page__my-name(href="https://github.com/Virss1" target="_blank") Ivan Riskov
        |, I am frontend developer
      h2.page__subtitle-2 Here are examples of my works
      h3.page__subtitle-3 Click to see the page live
      p.page__annotation Source code of this project is available&nbsp;
        a.page__source-link(href="https://github.com/Virss1/my-layout-examples" target="_blank") here
    main.page__content
      each card in JSON.parse(cardsData)
        .page__card
          +example-card({ title: card.title, link: card.link, source: card.source })
    // inject:js
    // endinject
