mixin example-card({ title = "", link = "" })
  - const name = title.toLowerCase().replace(/\s/g, '-');
  a.example-card(href=link target="_blank")
    img.example-card__preview(src=`./images/${name}-preview.jpg` alt=`${name}-preview`)
    .example-card__shadow
    h3.example-card__title= title