mixin example-card({ title = "", link = "" })
  a.example-card(href=link target="_blank")
    span.example-card__arrow(title="Ссылка откроется в новой вкладке") ⇗
    img.example-card__preview(src="" alt=title + " preview")
    h3.example-card__title= title