include ../components/example-card/example-card

-
  const fs = require('fs');
  const cardsData = fs.readFileSync("app/data/cards.json");

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.min.css")
    title My layout examples
  body.page
    header.page__header
      h1.page__main-title Hello, my name is Ivan Riskov
      h2.page__subtitle Here are examples of my layouts
    main.page__content
      each card in JSON.parse(cardsData)
        .page__card
          +example-card({ title: card.title, link: card.link })